/* 
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP                   
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES                   
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Georgia, serif; 
     
}


/******************************************
/* LAYOUT                   
/*******************************************/

/* Center the container */


.banner {
      height: 434px; 
      background: url('../images/coworking.jpg') no-repeat;
      background-size: cover;
}

header {
     background-color: #000;
     height: 100px;
     border-bottom: #F8FF00 3px solid
}

header h1 {
     color: #F8FF00;
     font-size: 42px;
     text-align: left;
     float: left;
     margin: 20px 0 0 30px;
}

.subhead h2 {
     font-size: 30px;
     font-style: italic;
     text-align: center;
     color: #000;
     background-color: #C6C6C6;
     margin: 0;
     padding: 5px;
     clear: both; 
}

h3 {
     font-family: 'Open Sans Condensed';
     font-style: bold;
     margin:0 0 0 10px;
}

.tagline-del {
     color:#999;
     text-decoration: line-through; 
}

.tagline-clr {
    border-bottom: 3px solid #F8FF00;
    text-decoration: none;
}

nav {
      float: right;
      font-family: 'Open Sans Condensed', sans-serif;
      margin: 0px 100px 0 0;
}

nav li a {
     font-size: 23px;
     color: #fff;
     text-decoration: none;
}

.nav-em {
     font-weight: bold;
}

li {
     list-style: none;
     float: left;
     padding: 20px;
}

a:hover {
     color: #F8FF00 ;
}

#blurb {
     height: 400px;
     width: 330px;
     background-color:rgba(255, 255, 255, .8);
     padding: 20px;
     float: right;
     margin: 10px 70px 10px 0;
     box-shadow: 3px 0px 5px 3px rgba(0, 0, 0, 0.2);
}

#blurb p {
     font-family: 'Open Sans Condensed';
     font-size: 18px;
     padding: 15px;
     margin: 0px;
}

#blurb h3 {
     font-size: 25px;
}

.infobox {
     float: left;
     margin-left: 100px;
}

.infobox .border {
       border-right: 1px #C6C6C6 solid;
       border-left: 1px #C6C6C6 solid;
       padding-left: 100px;
       margin: 20px;
}

.infobox h5 {
     font-size: 25px;
     margin: 40px 100px 0px 0px;
}

#mid-heading {
     margin-top: 18px;
}

.infobox p {
     font-size: 18px;
     font-family: 'Open Sans Condensed';
     padding-top: 20px;
     width: 200px;
}

.button {
     font-family: 'Open Sans Condensed';
     font-size: 20px;
     background-color: #C6C6C6;
     height: 60px;
     width: 200px; 
     padding: 15px;
     text-align: center;
     box-shadow: inset 1px 3px 17px 2px rgba(255, 255, 255, 0.4), 1px 2px 1px rgba(0, 0, 0, 0.6);
     border-radius: 8px ;
}

.wrapper .button {
     background-color: #F8FF00;
     height: 60px;
     width: 250px; 
     margin-left: 10px;
}
  

footer {
     background-color: #000;
     height:40px;
     clear: both;  
}

.footer-text {
     font-size: 16px;
     color: #fff;
     font-family: 'Open Sans Condensed';
     padding-top: 10px;
     margin-left: 40px;
}


/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/




